**/*.ts
**/*.map
**/*.zip
**/tsconfig.json
.gitignore
.github
.vscode/
.vscode-test/
.vscode_cobol/
vsc-extension-quickstart.md
node_modules/
out/
src/
gen_changelog.sh
publishit2gitonly.sh
publishit.sh
